.about-me {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .about-me .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 2309px;
    position: relative;
  }
  
  .about-me .overlap {
    position: absolute;
    width: 1440px;
    height: 808px;
    top: 126px;
    left: 0;
    background-color: #191919;
  }
  
  .about-me .rectangle {
    position: absolute;
    width: 555px;
    height: 586px;
    top: 128px;
    left: 802px;
    object-fit: cover;
  }
  
  .about-me .text-wrapper {
    position: absolute;
    width: 713px;
    top: 111px;
    left: 50px;
    font-family: "mariana-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 128px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .about-me .text-wrapper-2 {
    position: absolute;
    width: 496px;
    top: 608px;
    left: 89px;
    font-family: "Inria Serif-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .about-me .i-m-currently-a {
    position: absolute;
    width: 670px;
    top: 315px;
    left: 91px;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .about-me .img {
    position: absolute;
    width: 740px;
    height: 1027px;
    top: 960px;
    left: 340px;
  }
  
  .about-me .overlap-group {
    position: absolute;
    width: 1461px;
    height: 322px;
    top: 1987px;
    left: -11px;
    background-color: #191919;
  }
  
  .about-me .overlap-2 {
    position: absolute;
    width: 250px;
    height: 199px;
    top: 64px;
    left: 205px;
  }
  
  .about-me .text-wrapper-3 {
    position: absolute;
    width: 200px;
    top: 0;
    left: 34px;
    font-family: "Magic Retro-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 128px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .about-me .text-wrapper-4 {
    position: absolute;
    width: 250px;
    top: 141px;
    left: 0;
    font-family: "Lato-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .about-me .icon-instagram-alt {
    position: absolute;
    width: 75px;
    height: 71px;
    top: 130px;
    left: 1052px;
  }
  
  .about-me .icon-rounded {
    position: absolute;
    width: 75px;
    height: 71px;
    top: 130px;
    left: 1142px;
  }
  
  .about-me .icon-pinterest-fill {
    position: absolute;
    width: 75px;
    height: 71px;
    top: 130px;
    left: 1232px;
  }
  
  .about-me .text-wrapper-5 {
    position: absolute;
    width: 470px;
    top: 86px;
    left: 496px;
    font-family: "Inria Serif-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .about-me .text-wrapper-6 {
    position: absolute;
    width: 340px;
    top: 177px;
    left: 561px;
    font-family: "Inria Serif-Italic", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .about-me .rectangle-2 {
    position: fixed;
    width: 1440px;
    height: 126px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .about-me .text-wrapper-7 {
    position: fixed;
    width: 212px;
    top: 64px;
    left: 91px;
    font-family: "Inria Serif-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .about-me .text-wrapper-8 {
    position: fixed;
    width: 138px;
    top: 31px;
    left: 651px;
    font-family: "Magic Retro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 75px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .about-me .text-wrapper-9 {
    position: fixed;
    width: 212px;
    top: 64px;
    left: 1135px;
    font-family: "Inria Serif-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  